<h1 style="background-color:lightgreen;">Library</h1>
<button style="color:red" >Next</button>
<p>Find me in app/views/static_pages/about.html.erb</p>

<h2 style="background-color:lightgrey;" >About</h2>
<p title:"Description of the website" style="color:blue" >This Website is to refer all the books for free and publisher <br>can publish their material for free and get the reviews</p>
